/* General body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #a72353; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Styling for the music container */
.music-container {
  text-align: center;
  background-color: #670c4b; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

/* Styling for the album image */
.album-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(90, 175, 194, 0.1); 
  margin-bottom: 20px; 
}

/* Music title styling */
.music-title {
  font-size: 24px;
  margin: 10px 0;
  color: #897aee; 
}

/*Music description styling */
.music-description {
  font-size: 16px;
  color: #f15a19; 
}

/* Main Header styling */
h1 {
  color: #8807eb; 
  font-size: 2rem;
  margin-bottom: 20px;
}
  